[Unit]
Description=VISR management eth0 address keeper
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=pi
Environment=MANAGEMENT_ADDRESS=169.254.100.1/24
ExecStart=/opt/visr/scripts/wfb-eth0.sh
Restart=always
RestartSec=2

[Install]
WantedBy=multi-user.target
