[Unit]
Description=WFB camera RTP feed
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
ExecStart=/opt/visr/scripts/wfb-camera.sh
Restart=always
RestartSec=1
User=pi

[Install]
WantedBy=multi-user.target
